* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover {
    cursor: pointer;
}

main {
    width: 90%;
    height: 30vh;
    background-color: aliceblue;
    border: 2px solid #fff;
    border-radius: 2rem;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 1.5rem;
    
}

main .title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #faa8a8;
}

main .container__div-updateTask {
    width: 100%;
    margin-top: 3rem;
}

main .container__div-updateTask .updateTask {
    width: 65%;
    color: #706565;
    background-color: aliceblue;
    border: transparent;
    border-bottom: 1.7px solid #7c7474;
    font-size: 1.7rem;
    outline: none;
    margin-right: 1rem;
    
}

main .container__div-updateTask .btnUpdate {
    width: 30%;
    height: 30px;
    background-color: #426dfa;
    border: transparent;
    border-radius: 1rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 3rem;
    
}

/*--------------------responsive-----------------*/
@media (min-width: 800px) {
    main {
        width: 45%;
        padding-left: 3rem;
        padding-right: 2rem;
    }

    main .title {
        font-size: 4rem;
    }
}

